<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tutor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tutor.Properties.Settings>
            <setting name="serverip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="serverport" serializeAs="String">
                <value>4020</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="authkey" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="fullname" serializeAs="String">
                <value>User Name</value>
            </setting>
            <setting name="profilepath" serializeAs="String">
                <value>/Assets/blank-profile-picture.png</value>
            </setting>
            <setting name="accounttype" serializeAs="String">
                <value />
            </setting>
            <setting name="isloggedin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keeploggedin" serializeAs="String">
                <value>False</value>
            </setting>
        </Tutor.Properties.Settings>
    </userSettings>
</configuration>